header{
	background: url(../img/img1.jpg) repeat;
	width: 100%;
	height: 92px;
	z-index: 1000000;
}

.headroom{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}
.headroom--unpinned {
	top: -92px;
}
.headroom--pinned {
	top: 0;
}



/*nav*/
.logo{
	margin-top: 17px;
}
nav{
	margin-left: 79px;
}
nav li{
	width: 115px;
	padding-top: 32px;
	text-align: center;
	float: left;
	height: 60px;
	position: relative;
	cursor: pointer;
}
nav li a{
	height: 24px;
	overflow: hidden;
	display: block;
	position: relative;
	text-align: center;
}
nav li p{
	text-align: center;
}
nav .en{
	display: none;
}
nav li{
	transform:skew(-30deg);
	-ms-transform:skew(-30deg); 
	-moz-transform:skew(-30deg); 
	-webkit-transform:skew(-30deg); 
	-o-transform:skew(-30deg); 
}
nav li a{
	transform:skew(30deg);
	-ms-transform:skew(30deg); 
	-moz-transform:skew(30deg); 
	-webkit-transform:skew(30deg); 
	-o-transform:skew(30deg); 
}
.li_bg{
	background: #c03357;
	width: 100%;
	height: 0;
	position: absolute;
	z-index: -1;
	bottom: 0;
}


/*第一部分*/
.section{
	background-attachment: fixed;
	position: relative;
}
#section1{
	background: url(../img/cake12.jpg) no-repeat;
	height: 1008px;
	overflow: hidden;
}
#section2{
	background: url(../img/img2.jpg) repeat;
	width: 100%;
	height: 790px;
	padding-top: 110px;
	overflow: hidden;
}
#section3{
	background: url(../img/cake13.jpg) no-repeat;
	padding-top: 110px;
	height: 790px;
	overflow: hidden;
}
#section4{
	background: url(../img/img3.jpg) repeat;
	padding-top: 110px;
	width: 100%;
	height: 790px;
	overflow-y: hidden;
}
#section5{
	background: url(../img/img4.jpg) no-repeat;
	padding-top: 110px;
	height: 796px;
}
#section6{
	background: #e85e5c;
	padding-top: 110px;
	height: 598px;
	overflow: hidden;
}
.textbox{
	margin-top: 335px;
	width: 600px;
	height: 440px;
	overflow: hidden;
}
.love{
	right: 180px;
	top: -262px;
}
.loved{
	animation: love 1.4s ease-out;
	right: 0;
	top: 0;
}
.yh1{
	left: 10px;
	top: 85px;
	animation: fanzhuan 1s ease-out;
}
.yh2{
	right: 10px;
	bottom: 10px;
	animation: daozhuan 1s ease-out;
}
.textbox p{
	width: 480px;
	font-size: 26px;
	margin: 117px 0 0 105px;
	text-shadow: 0 3px 3px #666;
	display: none;
}
.textbox p:first-line{
	font-size: 36px;
}
.line_up{
	width: 0px;
	height: 2px;
	background: #ca5b58;
	opacity: 0.6;
	transform:rotate(-55deg);
	-ms-transform:rotate(-55deg); 
	-moz-transform:rotate(-55deg); 
	-webkit-transform:rotate(-55deg); 
	-o-transform:rotate(-55deg); 
	right: 0;
	top: 0;
}
.line_box{
	margin-top: 200px;
	height: 950px;
	width: 600px;
}
.line_up{
	
}
.line_down{
	width: 0px;
	height: 2px;
	background: #ca5b58;
	opacity: 0.6;
	transform:rotate(-55deg);
	-ms-transform:rotate(-55deg);
	-moz-transform:rotate(-55deg); 
	-webkit-transform:rotate(-55deg); 
	-o-transform:rotate(-55deg); 
	left: 0;
	bottom: 422px;
}
.ball{
	position: absolute;
	background: rgba(255,255,255,0.5);
	width: 392px;
	height: 392px;
	border: 1px solid #bc7a59;
	border-radius: 392px;
	left: 128px;
	top: 63px;
	color: #e10c4d;
	display: none;
}
.ball_title{
	font-size: 20px;
	line-height: 76px;
}
.ball_text{
	width: 290px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 26px;
}
#return{
	cursor: pointer;
	position: absolute;
	right: 25%;
	bottom: 150px;
	display: block;
	animation: updown 2s ease-in-out alternate infinite;
}
/*第二部分*/
.f2_title{
	font-size: 36px;
	margin-left: 115px;
}
.f2_title span{
	font-size: 28px;
}
.list_box{
	width: 785px;
	height: 451px;
	margin: 10px auto;
}
.flower_box{
	position: relative;
	margin: 0 auto;
}
.list_boxin{
	width: 786px;
	height: 100%;
	background: rgba(255,255,255,0.6);
	padding: 53px 90px 0;
	left: -90px;
	z-index: 10;
}
.img_flower,.text_flower{
	background: url(../img/img9.png) no-repeat;
	width: 132px;
	height: 134px;
	position: absolute;
}
.img_flower{
	transition: transform 1s;
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg); 
	-moz-transform:rotateY(0deg); 
	z-index: 50;
}
.img_hover{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg); 
	-moz-transform:rotateY(180deg);
}
.text_flower{
	text-align: center;
	padding-top: 36px;
	transition: transform 1s;
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg); 
	-moz-transform:rotateY(180deg); 
}
.text_hover{
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg); 
}
.list_box img{
	display: block;
	margin: 12px auto 0;
}
.flower_box{
	width: 132px;
	height: 134px;
	margin-bottom: 30px;
}
.list_box li{
	width: 230px;
	float: left;
	margin-right: 47px;
}
.list_box li:last-child{
	margin-right: 0;
}
.flower_title{
	font-size: 16px;
	text-align: center;
	color: #474747;
}
.flower_text{
	color: #474747;
}
.flower_text a{
	color: #d5035c;
}
#section2>img{
	position: absolute;
	z-index: 0;
}
#cake1{
	left: 35px;
	top: 900px;
}
#cake2{
	left: 323px;
	top: 900px;
}
#cake3{
	left: 728px;
	top: 900px;
}
#cake4{
	left: 1220px;
	top: 900px;
}
#cake5{
	right: 336px;
	top: 900px;
}
#cake6{
	right: 66px;
	top: 900px;
}
#deer{
	bottom: 60px;
}
.cakebox{
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
}
/*第三部分*/
.f3_title{
	font-size: 36px;
	margin-left: 115px;
	color: #e10c4d;
}
.f3_title span{
	font-size: 28px;
}
.f3_title a{color: #7d4315;}
.f3_title span a{color: #7d4315;}
.img_box{
	width: 1061px;
	height: 533px;
	margin: 25px auto 0;
}
.big_img_box{
	width: 442px;
	margin-right: 2px;
}
.img_box img{
	display: block;
}
.big_img_box li:first-child{
	margin-bottom: 2px;
}
.little_img_box{
	width: 616px;
}
.little_img_box>ul>li{
	float: left;
	margin:0 2px 2px 0;
	cursor: pointer;
}
.little_img_box li:nth-child(2n){
	margin-right: 0;
}
.small_img_box{
	width: 307px;
}
.small_img_box li{
	float: left;
}
.img_box li{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.img_mask{
	position: absolute;
	width: 80%;
	padding: 0 10%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	right: 100%;
	top: 0;
	font-size: 24px;
}

.abs_box{
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.big_img_box .mask_zh{
	margin-top: 100px;
}
.mask_link{
	width: 310px;
}
#section3>img{
	position: absolute;
}
#glasses{
	left: 108px;
}
#ou{
	left: 260px;
}
#tiramisu{
	right: 336px;
}
#ktcake{
	right: 66px;
}
.more{
	width: 150px;
	height: 42px;
	position: relative;
	display: block;
	margin: 20px auto 0;
	line-height: 42px;
	font-size: 18px;
	cursor: pointer;
}
.more1{
	border: 1px solid #fff;
}
.more2{
	border: 1px solid #efa527;
	color: #efa527;
}
.more span{
	display: block;
	left: 50%;
	top: 0;
	height: 42px;
	width: 0;
	z-index: 0;
}
.more1 span{
	background: #fff;
}
.more2 span{
	background: #efa527;
}
.more p{
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 100%;
}
